﻿@using TestSignalR.Models;
@model Contact

<div class="modal-content">
    @using (Html.BeginForm("SaveContact", "Home", FormMethod.Post, new { id = Model.Id }))
    {
       
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.AddressId)
        @Html.HiddenFor(m => m.Address.Id)

        <input type="hidden" id="hdId" name="ConnectId"/>

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
        </div>

        <div class="modal-body">
            
                <div class="row" style="margin-bottom:30px;">
                    <div class="col-xs-12" id="div-info"> 
                    </div>
                </div>
           


            <div class="row div-sp">

                <div class="col-xs-12 col-md-4">
                    @Html.LabelFor(m => m.FirstName)
                </div>
                <div class="col-xs-12 col-md-8">
                    @Html.TextBoxFor(m => m.FirstName)
                </div>
                <div class="col-xs-12 col-md-6 offset-md-4">
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>

            <div class="row div-sp">

                <div class="col-xs-12 col-md-4">
                    @Html.LabelFor(m => m.LastName)
                </div>
                <div class="col-xs-12 col-md-8">
                    @Html.TextBoxFor(m => m.LastName)
                </div>
                <div class="col-xs-12 col-md-8 offset-md-4">
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>

            <div class="row div-sp">
                <div class="col-xs-12 col-md-4">
                    @Html.LabelFor(m => m.Phone)
                </div>
                <div class="col-xs-12 col-md-8">
                    @Html.TextBoxFor(m => m.Phone)
                </div>
                <div class="col-xs-12 col-md-8 offset-md-4">
                    @Html.ValidationMessageFor(m => m.Phone)
                </div>
            </div>

            <div class="row div-sp">
                <div class="col-xs-12 col-md-4">
                    @Html.LabelFor(m => m.Email)
                </div>
                <div class="col-xs-12 col-md-8">
                    @Html.EditorFor(m => m.Email)
                </div>
                <div class="col-xs-12 col-md-8 offset-md-4">
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            
            <div class="row div-sp">
                <div class="col-xs-12 col-md-4">
                    @Html.LabelFor(m => m.Address)
                </div>
                <div class="col-xs-12 col-md-8">
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>
         
             <div class="row div-sp">
                    <div class="col-xs-12 col-md-4">
                        @Html.LabelFor(m => m.Address.Street)
                    </div>
                    <div class="col-xs-12 col-md-8">
                        @Html.TextBoxFor(m => m.Address.Street)
                    </div>
                    <div class="col-xs-12 col-md-8 offset-md-4">
                        @Html.ValidationMessageFor(m => m.Address.Street)
                    </div>
                </div>

                <div class="row div-sp">
                    <div class="col-xs-12 col-md-4">
                        @Html.LabelFor(m => m.Address.City)
                    </div>
                    <div class="col-xs-12 col-md-8">
                        @Html.TextBoxFor(m => m.Address.City)
                    </div>
                    <div class="col-xs-12 col-md-8 offset-md-4">
                        @Html.ValidationMessageFor(m => m.Address.City)
                    </div>
                </div>

                <div class="row div-sp">
                    <div class="col-xs-12 col-md-4">
                        @Html.LabelFor(m => m.Address.State)
                    </div>
                    <div class="col-xs-12 col-md-8">
                        @Html.EditorFor(m => m.Address.State)
                    </div>
                    <div class="col-xs-12 col-md-8 offset-md-4">
                        @Html.ValidationMessageFor(m => m.Address.State)
                    </div>
                </div>

                <div class="row div-sp">
                    <div class="col-xs-12 col-md-4">
                        @Html.LabelFor(m => m.Address.PostalCode)
                    </div>
                    <div class="col-xs-12 col-md-8">
                        @Html.TextBoxFor(m => m.Address.PostalCode)
                    </div>
                    <div class="col-xs-12 col-md-8 offset-md-4">
                        @Html.ValidationMessageFor(m => m.Address.PostalCode)
                    </div>
                </div>
            
        </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save-contact">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

       }
 </div>
   
