﻿@using TestSignalR.Models;
@model IEnumerable<Contact>

@{
    ViewBag.Title = "Index";
}


@section MainContent{ 
 
    <div id="loginBlock" class="row" style="margin-top:60px;">
        <div class="col-xs-12 col col-sm-7 col-md-5">

        <div class="input-group">
            
            <input type="text" id="txtUserName" class="form-control" placeholder="Enter user name">
            <span class="input-group-btn">
                <button class="btn btn-primary" id="btnLogin" type="button">Go!</button>
            </span>
           
        </div>

</div>

   </div> 
    

    
<div id="listBody">
    <div class="row" style="margin-bottom:30px; margin-top:30px;">

        <div class="col-xs-12 col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-search-contacts" title="Search" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button class="btn btn-default btn-refresh-search" title="Refresh search" type="button">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col=xs-12 col-md-6">
            <b>  Online users</b> (except you): <span id="spanOnlineCount">0</span> <ul  id="chatusers"></ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-md-2 visible-md visible-lg"> <b>Name</b></div>
        <div class="col-xs-4 col-md-3 visible-md visible-lg"> <b>Contact</b></div>
        <div class="col-xs-4 col-md-3 visible-md visible-lg"> <b>Address</b></div>

        <div class="col-xs-12 col-md-2">
            <div class="btn-group ">
                <button class="btn btn-default btn-sm btn-add-contact" title="Add new contact" type="button">
                    <span class="glyphicon glyphicon-none"></span>
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="glyphicon glyphicon-none"></span>
                </button>
                <button class="btn btn-default btn-sm btn-info-names" title="See updated names for contacts" type="button">
                    <span class="glyphicon glyphicon-bell"></span>
                </button>
                </div>
            </div>
    </div>
    <hr id="hr-contacts" />

    @foreach (var contact in Model)
    {
        <div class="row">
            <div class="col-xs-12 col-md-2 div-sp">
                <span class="span-contact-name">@contact.LastName @contact.FirstName </span>
            </div>
            <div class="col-xs-12 col-md-3 div-sp">
                @contact.Phone @Html.Raw("<br/>")@contact.Email
            </div>
            <div class="col-xs-12 col-md-3 div-sp">
                @contact.Address.Street@Html.Raw("<br/>")@contact.Address.City @contact.Address.State  @contact.Address.PostalCode
            </div>
            <div class="col-xs-12 col-md-2 div-sp">
                <div class="btn-group ">

                    <a class="btn btn-sm  btn-default  link-edit-contact"
                       href="@Url.Action("GetContact", "Home", new { id = contact.Id })" title="Edit contact">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-sm  btn-default  link-delete-contact"
                       href="@Url.Action( "DeleteContact", "Home", new { id = contact.Id })" title="Delete contact">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a class="btn btn-sm  btn-default  link-info-contact"
                       href="@Url.Action("GetContactLogs", "Home", new { id = contact.Id })" title="Get update info for this contact">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                </div>

            </div>
        </div>
        <hr />
    }
</div>


    <!-- Modal -->
    <div class="modal fade" id="frmContactModal" role="dialog">
        <div class="modal-dialog">

            @Html.Partial("EditContact", new Contact() { Address = new Address() })

        </div>
    </div>

}

@section Scripts {
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBZze7pX3zTAAkz98W8hIfjjgzmxnZkNeM" type="text/javascript"></script>

    <!--SignalR  -->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <!--SignalR -->
    <script>
       $(function () {
            $('#loginBlock').show();
            $('#listBody').hide();
            var chat = $.connection.chatHub;
            //chat.server.connect();
            //==================================
            chat.client.onConnected = function (id, userName, allUsers) {
               
                $('#loginBlock').hide();
                $('#listBody').show();
                $('#hdId').val(id);
                $('#divUserName').html(
                     '<span id="spanUserName" class="navbar-brand"> User: ' + userName + '</span>');
                for (i = 0; i < allUsers.length; i++) {

                    AddUser(allUsers[i].ConnectionId, allUsers[i].Name);
                }
                $("#spanOnlineCount").text(allUsers.length - 1);

            }
            //==================================

            chat.client.onNewUserConnected = function (id, name) {

                AddUser(id, name);
                $("#spanOnlineCount").text($("#chatusers").children().length);
            }
            //================================
            chat.client.onUserDisconnected = function (id, userName) {
                
                $('#' + id).remove();
                $("#spanOnlineCount").text($("#chatusers").children().length);
                
            }

            //================================
            chat.client.deleteContactFromList = function (name, message) {
               
                // if model window is open for update
                var control = $('#frmContactModal');
                if (control.hasClass('in')) {
                    control.modal('toggle');
                }

                $(".link-delete-contact").each(function () {

                    if ($(this).attr("href").split('/')[3] == message) {
                        var target = $(this).closest('.row');
                        target.next().remove();
                        target.remove();
                        return;
                    }
                });
            };
            //================================
            chat.client.addContact = function (name, contact) {
                var newControl = $("#tmpContacts").tmpl({ "contacts": [contact] });
                $("#hr-contacts").after(newControl);

            };
            //================================
            chat.client.updateContact = function (name, contact) {

                $(".link-delete-contact").each(function () {

                    if ($(this).attr("href").split('/')[3] == contact.Id) {
                        var target = $(this).closest('.row').children();

                        target.eq(0).find(".span-contact-name").text(contact.LastName + " " + contact.FirstName);
                        target.eq(1).html(contact.Phone + "<br/>" + contact.Email);

                        var dtt = contact.Address;
                        target.eq(2).html(dtt.Street + "<br/>" + dtt.City + " " + dtt.State + " " + dtt.PostalCode);

                    };
                });

            };
            //================================
            $.connection.hub.start().done(function () {
                $("#btnLogin").click(function () {
                   
                    var name = $("#txtUserName").val();
                    if (name.length > 0) {
                        chat.server.connect(name);
                    }
                    else {
                        alert("User name can't be empty");
                    }
                });
            });

            //====================================
        });

        function AddUser(id, name) {

            var userId = $('#hdId').val();
            if (userId != id) {

                $("#chatusers").append('<li id="' + id + '" class="user" >' + name + '</li>');
            }
        }

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>



    <script type="text/html" id="tmpContacts">
        {{each contacts}}
        <div class="row">
            <div class="col-xs-12 col-md-2 div-sp">
                <span class="span-contact-name">${LastName} ${FirstName}</span>
            </div>
            <div class="col-xs-12 col-md-3 div-sp">
                ${Phone} <br />${Email}
            </div>
            <div class="col-xs-12 col-md-3 div-sp">
                ${Address.Street} <br /> ${Address.City} ${Address.State}  ${Address.PostalCode}
            </div>
            <div class="col-xs-12 col-md-2 div-sp">
                <div class="btn-group ">

                    <a class="btn btn-sm  btn-default  link-edit-contact"
                       href="/Home/GetContact/${Id}" title="Edit contact">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-sm  btn-default  link-delete-contact"
                       href="/Home/DeleteContact/${Id}" title="Delete contact">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a class="btn btn-sm  btn-default  link-info-contact"
                       href="/Home/GetContactLogs/${Id}" title="Get update info for this contact">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                </div>

            </div>
        </div>
        <hr />
        {{/each}}
    </script>
}
