﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/custom/contactlist.css")" />

</head>
<body>
    <div class="navbar navbar-inverse" style="margin-bottom:0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">Home</a>
            <a href="/Hangfire" class="navbar-brand">Hangfire</a>
            <a href="@Url.Action("AboutTest", "Home")" class="navbar-brand">About test</a>
            <div id="divUserName" class="pull-right"></div>
        </div>
    </div>
  

    <div class="container">

        <div class="row">
            <div class="col-xs-12 ">
                <div class="content">
                    @RenderSection("MainContent", required: false)
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
  
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    @RenderSection("FooterContent", required: false)
                </div>
            </div>
        </div>
    </footer>


@Scripts.Render("~/bundles/jquery")
<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
<script src="@Url.Content("~/Scripts/custom/contactlist.js")"></script>
@RenderSection("scripts", required: false)
</body>
</html>
